* {
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
html {
    font-size: 14px;
    --header-clr: red;
    --side-clr: blue;
    --main-clr: green;
}

body {
    min-width: 100vw;
    min-height: 100svh;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
}

.header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    height: 5rem;
    background-color: var(--header-clr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    box-sizing: border-box;
}
.hamburger-icon {
    height: 110%;
    width: auto;
}
.header > h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

.side {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    background-color: var(--side-clr);
}

.main {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    background-color: var(--main-clr);
}