* {
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div, button, span {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    --header-clr: #ffffff;;
    --side-clr: #ffffff;;
    --main-clr: #ffffff;
}

body {
    width: 100vw;
    height: 100svh;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: auto repeat(3, 1fr);
    grid-template-rows: auto 1fr;
}

.header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    height: 5rem;
    background-color: var(--header-clr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    border-bottom: 4px solid black;
}
.hamburger-icon {
    height: 100%;
    width: auto;
}
.header > h1 {
    font-weight: bold;
    font-size: 2.5rem;   
}

.side {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    background-color: var(--side-clr);
    width: auto;
    border-right: 4px solid black;
    padding: 40px 0;
}
.side ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.side li {
    font-size: 1.8rem;
    font-weight: bold;
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5rem 2px 28px;
    width: 100%;
    box-sizing: border-box;
}
.side li:hover {
    background-color: aqua;
}

.main {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    background-color: var(--main-clr);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    padding: 50px 25px;
    overflow-y: scroll;
    height: 100%;
}


.questline-add-btn,
.quest-add-btn {
    width: 95%;
    font-size: 1.4rem;
    padding: 5px;
    border: 2px solid black;
}
.quest-add-btn {
    margin-bottom: -8px;
}

.kebab-menu {
    margin-right: -10px;
    height: 2.5rem;
    transform: scale(1.2);
}
.kebab-container {
    position: absolute;
    padding: 4px 2px;
    border: 2px solid black;
    background-color: white;
    z-index: 2;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1px;
    width: max-content;
}
.kebab-container.open {
    display: flex;
}
.kebab-container > button {
    border: none;
    width: 100%;
    padding: 3px;
    text-align: left;
    background-color: transparent;
}
.kebab-container > button:hover {
    background-color: grey;
}

span.line {
    border: 1px solid black;
    width: 100%;
    height: 0;
}

.description {
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* questline card */
.questline-container {
    width: 95%;
    border: 2px solid black;
    background-color: red;
}
.questline-container > div{
    padding: 15px;
}

.questline-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    gap: 10px;
}
.questline-top h3 {
    font-size: 1.8rem;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}
.questline-top .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.questline-open-btn {
    padding: 5px 20px;
    font-size: 1.3rem;
    border: 2px solid black;
}
.questline-container .kebab-container {
    transform: translateY(-85%);
}
.questline-container .kebab-container button {
    font-size: 1.3rem;
}

.questline-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.questline-bottom .description {
    margin-top: 5px;
    width: 100%;
    height: 6rem;
}
.questline-progress-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.questline-progress-container > p{
    align-self: flex-start;
    font-size: 1.2rem;
    font-weight: bold;   
}
.progress-bar {
    align-self: center;
    border: 2px solid black;
    width: 97%;
    height: 2.2rem;
    background-color: lightgrey;
    position: relative;
}
.progress-fill {
  height: 100%;
  background-color: green;
  width: 50%;
}
.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main > h2 {
    font-weight: bold;
    text-align: center;
    font-size: 2.4rem;
    width: 95%;
}
.main > .description {
    font-size: 1.3rem;
    text-align: center;
    width: 95%;
    margin-top: -10px;
}

/* quest card */
.quest-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    border: 2px solid black;
    background-color: aqua;  
}

.quest-color {
    height: 100%;
    width: 1.1rem;
    flex-shrink: 0;
    border-right: 2px solid black;
    background-color: red;
}

.quest-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px 10px 10px;
    gap: 8px;
    min-width: 0;
    flex: 1;
}
.quest-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    min-width: 0;
    flex: 1;
}
.checkbox {
    border: 1px solid black;
    min-width: 2.1rem;
    height: 2.1rem;
}
.quest-container.done .checkbox {
    background-image: url(images/check.svg);
    background-repeat: no-repeat;
}

.quest-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
}
.quest-text > h3 {
    font-size: 1.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}
.quest-text > .description {
    margin-top: -2px;
    text-wrap: nowrap;
}

.quest-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    position: relative;
    min-width: 0;
}
.quest-details {
    font-size: 1.2rem;
    border: 2px solid black;
    padding: 5px 10px;
}
/* NOTE: WHAT IF INSTEAD OF UP POSITION, DOWN */
.quest-container .kebab-container {
    transform: translateY(-77%);
}
.quest-container .kebab-container button {
    font-size: 1.2rem;
}

/* modal styles */
.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;  
    width: min(85vw, 40rem);
    height: auto;
}

.questline-form { 
    padding: 3rem 2.5rem 4rem;
}
.questline-form .buttons {
    margin-top: -10px;
}
.form-section {
    width: 100%;
}
label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
}
.form-section > input,
textarea {
    font-size: 1.5rem;
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    border: 2px solid black;
}
.color-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.color-section label {
    margin-bottom: 0;
}
.color-section input {
    box-sizing: border-box;
    border: 1px solid black;
}
.modal .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    width: 100%;
}
.modal button {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 3px 5px;
    box-sizing: border-box;
    border: 2px solid black;
    width: 100%;
}

#questline-form-title {
    height: 2.5rem;
}
#questline-form-color {
    margin-left: 1rem;
}

.quest-form {
    padding: 3rem 2.5rem;
}
.quest-form .buttons {
    margin-top: 5px;
}

@media(max-width: 700px) {
    html {
        font-size: 12px;
    }
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
    }

    .hamburger-icon {
        transform: rotate(0deg);
        transition: transform 0.3s ease-in-out;
    }
    .hamburger-icon.open {
        transform: rotate(90deg);
    }

    .side {
        grid-row: 2 / 3;
        display: none;
        border-bottom: 4px solid black;
        border-right: 0;
        padding: 20px 0;
    }
    .side.open {
        display: block;
    }

    .main {
        grid-row: 3 / 4;
        grid-column: 1 / -1;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 10px;
    }
}

/* https://coolors.co/palette/fffffa-0d5c63-44a1a0-78cdd7-247b7b */